<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Car</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search for a Car</h1>
        <form method="post">
            <label for="car_number">Car Number:</label>
            <input type="text" id="car_number" name="car_number" required><br>
            <input type="submit" value="Search Car">
        </form>
        <a href="{{ url_for('cars.car_list') }}">Back to Car List</a>
    </div>
<div class="container">
    <a href="/">Back</a>
</div>
</body>
</html>